{% extends "base.html" %} {% load static %} {% block title %} for Rent{%endblock%} {% block header %} {% include "includes/_header.html" %} {% endblock %} {% block content %}
<div class="page-title">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">

                <div class="full-search-2 eclip-search italian-search hero-search-radius shadow-hard">
                    <div class="hero-search-content">
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-12 b-r">
                                <div class="form-group">
                                    <div class="choose-propert-type">
                                        <ul>
                                            <li>
                                                <input id="cp-1" class="checkbox-custom" name="cpt" type="radio">
                                                <label for="cp-1" class="checkbox-custom-label">Buy</label>
                                            </li>
                                            <li>
                                                <input id="cp-2" class="checkbox-custom" name="cpt" type="radio" checked>
                                                <label for="cp-2" class="checkbox-custom-label">Rent</label>
                                            </li>
                                            <li>
                                                <input id="cp-3" class="checkbox-custom" name="cpt" type="radio">
                                                <label for="cp-3" class="checkbox-custom-label">Sold</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-5 col-sm-12 p-0 elio">
                                <div class="form-group">
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" placeholder="Search for a location">
                                        <img src="{% static 'img/pin.svg' %}" width="20"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-3 col-sm-12">
                                <div class="form-group">
                                    <a href="#" class="btn search-btn black">Search</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- =========================== All Property =============================== -->
<section>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="item-shorting-box">
                    <div class="item-shorting clearfix">
                        <div class="left-column pull-left">
                            <h4 class="m-0">Proprety For Rent</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Property -->
            {% for ann in annonces %} {% if ann.statuss == 'For Rent' %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="property-listing property-2">

                    <div class="listing-img-wrapper">
                        <div class="list-img-slide">
                            <div class="click">
                                <div>
                                    <a href="{% url 'annonce' ann_id=ann.id %}"><img src="{{ann.photo.url}}" class="img-fluid mx-auto" alt="{{ann.Property_Title}}" /></a>
                                </div>
                                <div>
                                    <a href="single-property-1.html"><img src="{% static 'img/p-2.jpg' %}" class="img-fluid mx-auto" alt="" /></a>
                                </div>
                                <div>
                                    <a href="single-property-1.html"><img src="{% static 'img/p-3.jpg' %}" class="img-fluid mx-auto" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="listing-detail-wrapper">
                        <div class="listing-short-detail-wrap">
                            <div class="listing-short-detail">
                                <h4 class="listing-name verified"><a href="{% url 'annonce' ann_id=ann.id %}" class="prt-link-detail">{{ann.Property_Title}}</a></h4>
                                <div class="property-reviews">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="listing-short-detail-flex">
                                <h6 class="listing-card-info-price">{{ann.price}}DT</h6>
                            </div>
                        </div>
                    </div>

                    <div class="price-features-wrapper">
                        <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'img/bed.svg' %}" width="13" alt="" />
                                </div>
                                {{ann.bedrooms}} Beds
                            </div>
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'img/bathtub.svg' %}" width="13" alt="" /></div>

                                {{ann.bathrooms}} Bath
                            </div>
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'img/move.svg' %}" width="13" alt="" />
                                </div>{{ann.area}} sqft
                            </div>
                        </div>
                    </div>

                    <div class="listing-detail-footer">
                        <div class="footer-first">
                            <div class="foot-location"><img src="{% static 'img/pin.svg' %}" width="18" alt="" />{{ann.location}}
                            </div>
                        </div>
                        <div class="footer-flex">
                            <a href="{% url 'annonce' ann_id=ann.id %}" class="prt-view">View</a>
                        </div>
                    </div>

                </div>
            </div>

            {% endif %}{% endfor %}
            <!-- End Single Property -->




        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="listings-list-with-sidebar.html" class="btn btn-theme-light-2 rounded">Browse More
                    Properties</a>
            </div>
        </div>


    </div>

</section>
<!-- =========================== All Property =============================== -->

<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}