{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>FesFes | {% block title %}{% endblock %} </title>

    <!-- Custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">

</head>

<body class="blue-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
        <div class="preloader"><span></span><span></span></div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- Start Navigation -->

        {% block header %} {% endblock %}

        <!-- End Navigation -->
        <div class="clearfix"></div>

        {% block content %}{% endblock %} {% include "includes/_footer.html" %}
        <!-- ============================ Footer End ================================== -->





        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/rangeslider.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/slider-bg.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script>
        function openFilterSearch() {
            document.getElementById("filter_search").style.display = "block";
        }

        function closeFilterSearch() {
            document.getElementById("filter_search").style.display = "none";
        }
    </script>
    <script>
        $(document).ready(function() {
            $('.checkbox-custom').click(function() {
                var txt = "";
                $('.checkbox-custom:checked').each(function() {
                    txt += $(this).val() + ","
                });
                txt = txt.substring(0, txt.length - 1);
                $('#txtvalues').val(txt);

            });



        });
    </script>
</body>

</html>