{% extends "base.html" %} {% load static %} {% block title %} Favorites{%endblock%} {% block header %} {% include "includes/_header.html" %} {% endblock %} {% block content %}


<!-- =========================== All Property =============================== -->
<section>

    <div class="container">



        <div class="row">

            <!-- Single Property -->
            {% for ann in annonces|slice:':6' %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="property-listing property-2">

                    <div class="listing-img-wrapper">
                        <div class="list-img-slide">
                            <div class="click">
                                <div>
                                    <a href="{% url 'annonce' ann_id=ann.id %}"><img src="{{ann.photo.url}}" class="img-fluid mx-auto" alt="{{ann.Property_Title}}" /></a>
                                </div>
                                <div>
                                    <a href="single-property-1.html"><img src="{% static 'img/p-2.jpg' %}" class="img-fluid mx-auto" alt="" /></a>
                                </div>
                                <div>
                                    <a href="single-property-1.html"><img src="{% static 'img/p-3.jpg' %}" class="img-fluid mx-auto" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="listing-detail-wrapper">
                        <div class="listing-short-detail-wrap">
                            <div class="listing-short-detail">
                                <h4 class="listing-name verified"><a href="{% url 'annonce' ann_id=ann.id %}" class="prt-link-detail">{{ann.Property_Title}}</a></h4>
                                <div class="property-reviews">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="listing-short-detail-flex">
                                <h6 class="listing-card-info-price">{{ann.price}}DT</h6>
                            </div>
                        </div>
                    </div>

                    <div class="price-features-wrapper">
                        <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'img/bed.svg' %}" width="13" alt="" />
                                </div>

                            </div>
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'img/bathtub.svg' %}" width="13" alt="" /></div>

                                {{ann.bathrooms}} Bath
                            </div>
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'img/move.svg' %}" width="13" alt="" />
                                </div>{{ann.area}} sqft
                            </div>
                        </div>
                    </div>

                    <div class="listing-detail-footer">
                        <div class="footer-first">
                            <div class="foot-location"><img src="{% static 'img/pin.svg' %}" width="18" alt="" />{{ann.address}}
                            </div>
                        </div>
                        <div class="footer-flex">
                            <a href="{% url 'annonce' ann_id=ann.id %}" class="prt-view">View</a>
                        </div>
                    </div>

                </div>
            </div>
            {% empty %}
            <h4 class="alert alert-warning"> No products here,
                <a href="{% url 'index' %}" class="text-dark">Home</a>
            </h4>
            {% endfor %}
            <!-- End Single Property -->




        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="listings-list-with-sidebar.html" class="btn btn-theme-light-2 rounded">Browse More
                    Properties</a>
            </div>
        </div>


    </div>

</section>
<!-- =========================== All Property =============================== -->

<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}