{% extends 'base.html' %} {% load static %} {% block title %} Property {%endblock%}{% block header %} {% include "includes/_header.html" %} {% endblock %} {% block content %}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Submit Property</h2>
                <span class="ipn-subtitle">Just Submit Your Property</span>

            </div>
        </div>
    </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Submit Property Start ================================== -->
<section class="gray-simple">

    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %} {% include 'includes/_alert.html' %}

            <form method="POST">
                {% csrf_token %}
                <!-- Submit Form -->

                <div class="col-lg-12 col-md-12">

                    <div class="submit-page">


                        <!-- Basic Information -->
                        <div class="form-submit">
                            <h3>Basic Information</h3>
                            <div class="submit-section">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label>Property Title<span class="tip-topdata" data-tip="Property Title"><i class="ti-help"></i></span></label>
                                        <input type="text" name="Property_Title" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Status</label>
                                        <select id="status" name="statuss" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="For Rent">For Rent</option>
                                        <option value="For Sale">For Sale</option>
                                    </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Property Type</label>
                                        <select id="ptypes" name="type1" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="Houses">Houses</option>
                                        <option value="Apartment">Apartment</option>
                                        <option value="Villas">Villas</option>
                                        <option value="Commercial">Commercial</option>
                                        <option value="Offices">Offices</option>
                                        <option value="Garage">Garage</option>
                                    </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Price</label>
                                        <input type="text" name="price" class="form-control" placeholder="USD">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Area</label>
                                        <input type="text" name="area" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Bedrooms</label>
                                        <select id="bedrooms" name="bedrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Bathrooms</label>
                                        <select id="bathrooms" name="bathrooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Gallery -->
                        <div class="form-submit">
                            <h3>Gallery</h3>
                            <div class="submit-section">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label>Upload Gallery</label>
                                        <form action="https://themezhub.net/upload-target" class="dropzone dz-clickable primary-dropzone">
                                            <div class="dz-default dz-message">
                                                <i class="ti-gallery"></i>
                                                <span>Drag & Drop To Change Logo</span>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Location -->
                        <div class="form-submit">
                            <h3>Location</h3>
                            <div class="submit-section">
                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label>Address</label>
                                        <input type="text" name="location" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>City</label>
                                        <input type="text" name="city" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>State</label>
                                        <input type="text" name="state" class="form-control">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Zip Code</label>
                                        <input type="text" name="Zip_Code" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Detailed Information -->
                        <div class="form-submit">
                            <h3>Detailed Information</h3>
                            <div class="submit-section">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label>Description</label>
                                        <textarea class="form-control h-120" name="description"></textarea>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Building Age (optional)</label>
                                        <select id="bage" name="building_age" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="0 - 5 Years">0 - 5 Years</option>
                                        <option value="0 - 10Years">0 - 10Years</option>
                                        <option value="0 - 15 Years">0 - 15 Years</option>
                                        <option value="0 - 20 Years">0 - 20 Years</option>
                                        <option value="20+ Years">20+ Years</option>
                                    </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Garage (optional)</label>
                                        <select id="garage" name="garage" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Rooms (optional)</label>
                                        <select id="rooms" name="Rooms" class="form-control">
                                        <option value="">&nbsp;</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>Other Features (optional)</label>
                                        <div class="o-features">
                                            <ul class="no-ul-list third-row">
                                                <li>
                                                    <input id="a-1" class="checkbox-custom" name="a-1" value="Air Condition" type="checkbox">
                                                    <label for="a-1" class="checkbox-custom-label">Air Condition</label>
                                                </li>
                                                <li>
                                                    <input id="a-2" class="checkbox-custom" name="a-2" value="Bedding" type="checkbox">
                                                    <label for="a-2" class="checkbox-custom-label">Bedding</label>
                                                </li>
                                                <li>
                                                    <input id="a-3" class="checkbox-custom" name="a-3" value="Heating" type="checkbox">
                                                    <label for="a-3" class="checkbox-custom-label">Heating</label>
                                                </li>
                                                <li>
                                                    <input id="a-4" class="checkbox-custom" name="a-4" value="Internet" type="checkbox">
                                                    <label for="a-4" class="checkbox-custom-label">Internet</label>
                                                </li>
                                                <li>
                                                    <input id="a-5" class="checkbox-custom" name="a-5" value="Microwave" type="checkbox">
                                                    <label for="a-5" class="checkbox-custom-label">Microwave</label>
                                                </li>
                                                <li>
                                                    <input id="a-6" class="checkbox-custom" name="a-6" value="Smoking Allow" type="checkbox">
                                                    <label for="a-6" class="checkbox-custom-label">Smoking Allow</label>
                                                </li>
                                                <li>
                                                    <input id="a-7" class="checkbox-custom" name="a-7" value="Terrace" type="checkbox">
                                                    <label for="a-7" class="checkbox-custom-label">Terrace</label>
                                                </li>
                                                <li>
                                                    <input id="a-8" class="checkbox-custom" name="a-8" value="Balcony" type="checkbox">
                                                    <label for="a-8" class="checkbox-custom-label" type="">Balcony</label>
                                                </li>
                                                <li>
                                                    <input id="a-9" class="checkbox-custom" name="a-9" value="Icon" type="checkbox">
                                                    <label for="a-9" class="checkbox-custom-label" type="">Icon</label>
                                                </li>
                                                <li>
                                                    <input id="a-10" class="checkbox-custom" name="a-10" value="Wi-Fi" type="checkbox">
                                                    <label for="a-10" class="checkbox-custom-label" type="">Wi-Fi</label>
                                                </li>
                                                <li>
                                                    <input id="a-11" class="checkbox-custom" name="a-11" value="Beach" type="checkbox">
                                                    <label for="a-11" class="checkbox-custom-label" type="">Beach</label>
                                                </li>
                                                <li>
                                                    <input id="a-12" class="checkbox-custom" name="a-12" value="Parking" type="checkbox">
                                                    <label for="a-12" class="checkbox-custom-label" type="">Parking</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Contact Information -->
                        <div class="form-submit">
                            <h3>Contact Information</h3>
                            <div class="submit-section">
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label>Name</label>
                                        <input type="text" name="Name" class="form-control">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Email</label>
                                        <input type="text" name="Email" class="form-control">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label>Phone (optional)</label>
                                        <input type="text" name="phone" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group col-lg-12 col-md-12">
                            <label>GDPR Agreement *</label>
                            <ul class="no-ul-list">
                                <li>
                                    <input id="aj-1" class="checkbox-custom" name="aj-1" type="checkbox">
                                    <label for="aj-1" class="checkbox-custom-label">I consent to having this website store my submitted information so they can respond to my inquiry.</label>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group col-lg-12 col-md-12">
                            <button class="btn btn-theme-light-2 rounded" name="btnsumb" type="submit">Submit & Preview</button>
                        </div>

                    </div>
                </div>
            </form>
            {% else %}
            <div class="col-lg-12 col-md-12">

                <div class="alert alert-success" role="alert">
                    <p>Please, Sign In before you submit a property. If you don't have an account you can create one by <a href="{% url 'signin' %}">Clicking Here</a></p>
                </div>

            </div>
            {% endif %}
        </div>
    </div>

</section>
<!-- ============================ Submit Property End ================================== -->

<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call-to-act">
                    <div class="call-to-act-head">
                        <h3>Want to Become a Real Estate Agent?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
<script src="{% static 'js/dropzone.js' %}"></script>