{% extends "base.html" %} {% load static %} {% block title %} Annonces{%endblock%} {% block header %} {% include "includes/_header.html" %} {% endblock %} {% block content %}


<!-- ============================ Hero Banner  Start================================== -->
<form action="{% url 'search' %}">
    <div class="home-map-banner full-wrapious">
        <div class="hm-map-container fw-map">
            <div id="map"></div>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->

    <!-- ============================ All Property ================================== -->
    <section class="bg-light">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="filter_search_opt">
                        <a href="javascript:void(0);" onclick="openFilterSearch()">Search Property<i class="ml-2 ti-menu"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- property Sidebar -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="simple-sidebar sm-sidebar" id="filter_search" style="left:0;">

                        <div class="search-sidebar_header">
                            <h4 class="ssh_heading">Close Filter</h4>
                            <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                        </div>

                        <!-- Find New Property -->
                        <div class="sidebar-widgets">

                            <!-- Find New Property -->
                            <div class="sidebar-widgets">

                                <div class="form-group simple">
                                    <div class="input-with-icon">
                                        <label>Neighborhood</label>
                                        <input type="text" class="form-control" name="Neighborhood" placeholder="Neighborhood">
                                        <i class="ti-search"></i>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="input-with-icon">
                                        <label>location</label>
                                        <input type="text" class="form-control" name="location" placeholder="Location">
                                        <i class="ti-location-pin"></i>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>type</label>
                                        <select id="ptypes" name="type1" class="form-control">
													<option value="" >&nbsp;</option>
													<option value="Apartment">Apartment</option>
													<option value="Condo">Condo</option>
													<option value="Family">Family</option>
													<option value="Houses">Houses</option>
													<option value="Villa">Villa</option>
												</select>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>status</label>
                                        <select id="status" name="statuss" class="form-control">
													<option value="">&nbsp;</option>
													<option value="For Rent">For Rent</option>
													
													<option value="For Sale">For Sale</option>
												</select>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>price</label>
                                        <select id="minprice" name="price" class="form-control">
													<option value="">&nbsp;</option>
													<option value="1">Less Then 300dt</option>
													<option value="2">300dt - 500dt</option>
													<option value="3">500dt - 700dt</option>
													<option value="4">700dt - 900dt</option>
													<option value="5">Above 900dt</option>
												</select>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>bedrooms</label>
                                        <select id="bedrooms" name="bedrooms" class="form-control">
													<option value="">&nbsp;</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>bathrooms</label>
                                        <select id="bathrooms" name="bathrooms" class="form-control">
													<option value="">&nbsp;</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>Garage</label>
                                        <select id="garage" name="garage" class="form-control">
													<option value="">&nbsp;</option>
													<option value="1">Any Type</option>
													<option value="2">Yes</option>
													<option value="3">No</option>
												</select>
                                    </div>
                                </div>

                                <div class="form-group simple">
                                    <div class="simple-input">
                                        <label>age</label>
                                        <select id="built" name="age" class="form-control">
													<option value="">&nbsp;</option>
													<option value="Less Then 2010">Less Then 2010</option>
													<option value="2011">2011</option>
													<option value="2012">2012</option>
													<option value="2013">2013</option>
													<option value="2014">2014</option>
													<option value="2015">2015</option>
													<option value="More then 2016">More then 2016</option>
												</select>
                                    </div>
                                </div>

                                <div class="row">
                                    <label>area</label>
                                    <div class="col-lg-6 col-md-6 col-sm-6">

                                        <div class="form-group">
                                            <div class="simple-input">
                                                <input type="text" class="form-control" name="minarea" placeholder="Min Area">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="simple-input">
                                                <input type="text" class="form-control" name="maxarea" placeholder="Max Area">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                                        <h6>Choose Price</h6>
                                        <div class="rg-slider">
                                            <input type="text" class="js-range-slider" name="my_range" value="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="ameneties-features">
                                    <div class="form-group" id="module">
                                        <a role="button" class="" data-toggle="collapse" href="#advance-search" aria-expanded="true" aria-controls="advance-search"></a>
                                    </div>
                                    <div class="collapse" id="advance-search" aria-expanded="false" role="banner">
                                        <ul class="no-ul-list">
                                            <li>
                                                <input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
                                                <label for="a-1" class="checkbox-custom-label">Air Condition</label>
                                            </li>
                                            <li>
                                                <input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
                                                <label for="a-2" class="checkbox-custom-label">Bedding</label>
                                            </li>
                                            <li>
                                                <input id="a-3" class="checkbox-custom" name="a-3" type="checkbox">
                                                <label for="a-3" class="checkbox-custom-label">Heating</label>
                                            </li>
                                            <li>
                                                <input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
                                                <label for="a-4" class="checkbox-custom-label">Internet</label>
                                            </li>
                                            <li>
                                                <input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
                                                <label for="a-5" class="checkbox-custom-label">Microwave</label>
                                            </li>
                                            <li>
                                                <input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
                                                <label for="a-6" class="checkbox-custom-label">Smoking Allow</label>
                                            </li>
                                            <li>
                                                <input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
                                                <label for="a-7" class="checkbox-custom-label">Terrace</label>
                                            </li>
                                            <li>
                                                <input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
                                                <label for="a-8" class="checkbox-custom-label">Balcony</label>
                                            </li>
                                            <li>
                                                <input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
                                                <label for="a-9" class="checkbox-custom-label">Icon</label>
                                            </li>
                                        </ul>
                                    </div>

                                    <button class="btn btn btn-theme-light-2 rounded full-width">Find New Home</button>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Sidebar End -->

                </div>

                <div class="col-lg-8 col-md-12 col-sm-12 list-layout">

                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="item-shorting-box">
                                <div class="item-shorting clearfix">
                                    <div class="left-column pull-left">
                                        <h4 class="m-0">Found 1-10 of 142 Results</h4>
                                    </div>
                                </div>
                                <div class="item-shorting-box-right">
                                    <div class="shorting-by">
                                        <label>shorty</label>
                                        <select id="shorty" class="form-control">
													<option value="">&nbsp;</option>
													<option value="1">Low Price</option>
													<option value="2">High Price</option>
													<option value="3">Most Popular</option>
												</select>
                                    </div>
                                    <ul class="shorting-list">
                                        <li><a href="doctor-1.html" class="active"><i class="ti-layout-grid2"></i></a></li>
                                        <li><a href="doctor-2.html"><i class="ti-view-list"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Property Start -->
                        {% for ann in search %}
                        <div class="col-lg-12 col-md-12">
                            <div class="property-listing property-1">

                                <div class="listing-img-wrapper">
                                    <a href="single-property-2.html">
                                        <img src="{{ann.photo.url}}" class="img-fluid mx-auto" alt="" />
                                    </a>
                                </div>

                                <div class="listing-content">

                                    <div class="listing-detail-wrapper-box">
                                        <div class="listing-detail-wrapper">
                                            <div class="listing-short-detail">
                                                <h4 class="listing-name"><a href="{% url 'annonce' ann_id=ann.id %}">{{ann.Property_Title}}</a></h4>
                                                <div class="fr-can-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span class="reviews_text">(42 Reviews)</span>
                                                </div>
                                                <span class="prt-types sale">{{ann.statuss}}</span>
                                            </div>
                                            <div class="list-price">
                                                <h6 class="listing-card-info-price">{{ann.price}}DT</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="price-features-wrapper">
                                        <div class="list-fx-features">
                                            <div class="listing-card-info-icon">
                                                <div class="inc-fleat-icon"><img src="{% static 'img/bed.svg' %}" width="13" alt="" /></div>{{ann.bedrooms}} Beds
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <div class="inc-fleat-icon"><img src="{% static 'img/bathtub.svg' %}" width="13" alt="" /></div>{{ann.bathrooms}} Bath
                                            </div>
                                            <div class="listing-card-info-icon">
                                                <div class="inc-fleat-icon"><img src="{% static 'img/move.svg' %}" width="13" alt="" /></div>{{ann.area}} sqft
                                            </div>
                                        </div>
                                    </div>

                                    <div class="listing-footer-wrapper">
                                        <div class="listing-locate">
                                            <span class="listing-location"><i class="ti-location-pin"></i>{{ann.location}}</span>
                                        </div>
                                        <div class="listing-detail-btn">
                                            <a href="{% url 'annonce' ann_id=ann.id %}" class="more-btn">View</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single Property End -->



                    </div>

                    <!-- Pagination -->

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {% for topic in topics %}
                            <ul class="pagination p-center">
                                {% if topics.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{topics.previous_page_number}}" aria-label="Previous">
                                        <span class="ti-arrow-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% endif %} {% for page_num in topics.paginator.page_range %} {% if topics.number == page_num %}
                                <li class="page-item active">{{page_num}}<span>(current)</span></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page{{page_num}}">{{page_num}}</a></li>
                                {% endif %} {% endfor %} {% if topics.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{topics.next_page_number}}" aria-label="Next">
                                        <span class="ti-arrow-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <span>Next</span>
                                </li>
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ============================ All Property ================================== -->

    <!-- ============================ Call To Action ================================== -->
    <section class="theme-bg call-to-act-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="call-to-act">
                        <div class="call-to-act-head">
                            <h3>Want to Become a Real Estate Agent?</h3>
                            <span>We'll help you to grow your career and growth.</span>
                        </div>
                        <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</form>
<!-- Map -->
<script src="https://maps.google.com/maps/api/js?key="></script>
<script src="{% static 'js/map_infobox.js' %}"></script>
<script src="{% static 'js/markerclusterer.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

<script>
    function openFilterSearch() {
        document.getElementById("filter_search").style.display = "block";
    }

    function closeFilterSearch() {
        document.getElementById("filter_search").style.display = "none";
    }
</script>

{% endblock %}